@import '../abstract/variaveis';

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    background-size: cover;
    opacity: 0.9;
    min-height: 350px;
    .inner-banner{
        color: $cor-primaria;
        background-color: $cor-terciaria;
        border-radius: 45px;
        opacity: 0.9;
        padding: 3rem;
        h1 {
            font-size: $tamanho-fonte;
            color: $cor-primaria
        }
        h2 {
            font-size: $tamanho-fonte / 2;
            color: $cor-secundaria
        }
    }
}